<ul class="dropdown-live">
	<% @tasks.each do |task| %>
<<<<<<< HEAD
	<li > <a> <%= task.label %> </a></li>
=======
		<li> <a> <%= task.name %> </a></li>
>>>>>>> 316bea4d166cdd5e8486b176d718b1ce3e287ef5
	<% end %>
</ul>