<div class="container">
	<div class="row">
		<div class="col-sm-5 col-md-5 col-lg-5">
			<div class="row col-sm-12 col-md-12 col-lg-12">
				<div class="profile panel panel-default">
		    		<a href="#" class='pull-left profile-img'>
		        		<img class="media-object dp img-circle tooltips" src="http://www.rovers.co.uk/images/common/bg_player_profile_default_big.png" data-toggle = "tooltip" data-placement ="top" title ="Edit your profile" style="width: 50px;height:50px;">
		    		</a>
		            <div class="profile-body">																									
		                <h4 class="media-heading"><%= @user.name %></h4>
		                <h5>California State University, Long Beach</h5>
		                <hr style="margin:8px auto">

		                <span class="label label-primary label-st"><a href="#">SmartTag 1</a></span>
		                <span class="label label-primary label-st"><a href="#">SmartTag 2</a></span>
		                <span class="label label-primary label-st"><a href="#">SmartTag 3</a></span>
		                <span class="label label-primary label-st"><a href="#">SmartTag 4</a></span>
		            </div>
		    	</div>
		    </div>
		   	<%= render(partial: 'profile_nowts', :locals => {posts: @trending, title: "Trending", class_name: "trending"}) %>
	    </div>

	    <div class="col-sm-7 col-md-7 col-lg-7">
	    	<%= render(partial: 'profile_nowts', :locals => {posts: @interests, title: "Here are some nowts you might be interested in!", class_name: "interest"}) %>
	    	<%= render(partial: 'profile_nowts', :locals => {posts: @your_nowts, title: "Your Board!", class_name: "your-board"}) %>
	    </div>
	</div>
</div>