<div class="container">
	<div class="row">
		<div class="col-sm-5 col-md-5 col-lg-5">
			<div class="row col-sm-12 col-md-12 col-lg-12">
				<div class="profile panel panel-default">
		    		<a href="#" class='pull-left profile-img'>
		        		<img class="media-object dp img-circle tooltips" src="http://www.rovers.co.uk/images/common/bg_player_profile_default_big.png" data-toggle = "tooltip" data-placement ="top" title ="Edit your profile" style="width: 50px;height:50px;">
		    		</a>
		            <div class="profile-body">																									
		                <h4 class="media-heading">Anonymous</h4>
		                <h5>California State University, Long Beach</h5>
		                <hr style="margin:8px auto">

		                <span class="label label-primary label-st"><a href="#">SmartTag 1</a></span>
		                <span class="label label-primary label-st"><a href="#">SmartTag 2</a></span>
		                <span class="label label-primary label-st"><a href="#">SmartTag 3</a></span>
		                <span class="label label-primary label-st"><a href="#">SmartTag 4</a></span>
		            </div>
		    	</div>
		    </div>
		    <div class="row col-sm-12 col-md-12 col-lg-12">
				<div class="panel panel-default">
					<div class="panel-header">
						<h4>Trending</h4>
					</div>
					<div class="panel-body">
					trending shiett...
					</div>
				</div>
			</div>
	    </div>

	    <div class="col-sm-7 col-md-7 col-lg-7">
	    	<div class="row col-sm-12 col-md-12 col-lg-12">
		    	<div class="panel panel-default">
		    		<div class="panel-heading">
		    			<h4>
		    			Here are some nowts you might be interested in!
		    			</h4>
		    		</div>

	    			<div class="container-fluid tooltips" data-toggle="tooltip" data-placement="top" title="Hide some nowts" style="text-align: center; margin-top: 2px">
	    				<a href="#" id="hide-interests">
	    					<span class="glyphicon glyphicon-minus"></span>
	    				</a>
	    			</div>

		    		<div class="panel-body interests" style="padding-bottom: 0px">
		    			<div class="row interest-row">
		    				<div class="col-sm-4 col-md-4 col-lg-4">
		    					<a href="#" class="thumbnail">
		    						<caption>
		    							<h3>Nowt 1</h3>
		    							<p>nowt description</p>
		    						</caption>
		    					</a>
		    				</div>
		    				<div class="col-sm-4 col-md-4 col-lg-4">
		    					<a href="#" class="thumbnail">
		    						<caption>
		    							<h3>Nowt 2</h3>
		    							<p>nowt description</p>
		    						</caption>
		    					</a>
		    				</div>
		    				<div class="col-sm-4 col-md-4 col-lg-4">
		    					<a href="#" class="thumbnail">
		    						<caption>
		    							<h3>Nowt 3</h3>
		    							<p>nowt description</p>
		    						</caption>
		    					</a>
		    				</div>
		    			</div>
		    		</div>
	    			<div class="container-fluid tooltips" data-toggle="tooltip" data-placement="bottom" title="Load more nowts" style="text-align: center">
	    				<a href="#" id="load-interests">
	    					<span class="glyphicon glyphicon-plus"></span>
	    				</a>
	    			</div>
		    	</div>
	    	</div>
	    	<div class="row col-sm-12 col-md-12 col-lg-12">
	    		<div class="panel panel-default">
					<div class="panel-header">
						<h4>Trending</h4>
					</div>
					<div class="panel-body">
					trending shiett...
					</div>
				</div>
	    	</div>
	    </div>
	</div>
</div>