<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h1>Note on the Wall</h1>
				<p>Nowt is bringing students together from all over. Communicate with classmates from all sides of your campus. Join now and see what's happening! </p>
				<p><%= link_to("Continue as a Guest »", board_path, class: "btn btn-primary btn-lg", role: "button") %></p>
			</div>
			<div class="col-md-4 hidden-sm hidden-xs registration_form">
				<%= render('devise/registrations/registration_form') %>
			</div>
		</div>
	</div>
</div>

<div class="container marketing">

	<!-- Three columns of text below the carousel -->
	<div class="row">
		<div class="col-lg-4">
			<div class="iconmelon">
              <svg viewBox="0 0 32 32">
                <g filter="">
                  <use xlink:href="#geography"></use>
                </g>
              </svg>
            </div>
			<h2>Buy or Sell Your Books!</h2>
			<p>Save yourself money! Stop selling your books back to the bookstore for nothing when there are students from all over looking to buy or trade for your book!
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<div class="iconmelon">
              <svg viewBox="0 0 32 32">
                <g filter="">
                  <use xlink:href="#calendar"></use>
                </g>
              </svg>
            </div>
			<h2>Keep Up With Your Classes!</h2>
			<p>Get updates when students are talking about your classes! Get help with homework, form study groups, and so much more!</p>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<div class="iconmelon">
              <svg viewBox="0 0 32 32">
                <g filter="">
                  <use xlink:href="#discuss"></use>
                </g>
              </svg>
            </div>
			<h2>See What's Happening On Campus!</h2>
			<p>Keep up with on and off campus activities! Find job fairs, internships, and see what everyone is talking about around campus!</p>
		</div><!-- /.col-lg-4 -->
	</div><!-- /.row -->
</div>

