<div class="well well-sm">
  <div class="row">
    <div class="col-sm-4 col-md-4 img-column">
      <img src="http://placehold.it/210x240" alt="" class="img-rounded img-responsive" />
    </div>
    <div class="col-sm-8 col-md-8" >
      <h4>
      <%= post.title[0..20] %>
      </h4>
      <small><cite title="San Francisco, USA"><%= post.user.name %>, SCHOOL <i class="glyphicon glyphicon-map-marker">
      </i></cite></small>
      <p><%= post.description[0..30] %></p>
      <% post.tags.each do |tag| %>
        <span class="label label-default"><%= tag.name %></span>
      <% end %>

      <!-- Split button -->
    </div> <!-- end text block -->
  </div> <!-- end row-->
</div> <!-- end well -->