<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
      <%= link_to("/posts/#{post.id}", class:post) do %>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <%= render 'posts/nowt', :post => post %>
        </div> <!-- -->
      <% end %>
    <% end %>
  </div>
</div>