<div class="container">
    <div class="row">
        <% if(@posts.empty?) %>
          <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Warning!</strong> Nothing Found :[
          </div>
        <% else %>
            <ul class="cbp_tmtimeline">
               <% post_counter = 1 %>
               <% @posts.each do |post| %>
                  <li>
                    <%= render 'posts/nowt', :post => post, count: post_counter %>
                  </li>

                  <% post_counter += 1 %>
               <% end %>
            </ul>
        <% end %>
    </div>
</div>

