<!--<%= link_to 'New Post', new_post_path %> -->
<div class="container">
  <div class="row">
  <% @posts.each do |post| %>
    <%= link_to("/posts/#{post.id}", class:post) do %>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <div class="well well-sm">
        <div class="row">
          <div class="col-sm-4 col-md-4 img-column">
            <img src="http://placehold.it/210x240" alt="" class="img-rounded img-responsive" />
          </div>
          <div class="col-sm-8 col-md-8" >
            <h4>
              <%= post.title[0..20] %>
            </h4>
            <small><cite title="San Francisco, USA">gregmcox, CSULB <i class="glyphicon glyphicon-map-marker">
            </i></cite></small>
            <p><%= post.description[0..30] %></p>
            <p>Tom Jewett</p>
            <p></p>
            <!-- Split button -->
          </div> <!-- end text block -->
        </div> <!-- end row-->
      </div> <!-- end well -->
    </div> <!-- -->
  <% end %>
<% end %>
</ul>
</div>
</div>