// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	padding-top: 100px;
	background-image:url('/assets/brushed_@2X.png');
}

.input-group {
	margin-bottom: 7px;
}

.registration_form {
	margin-top: 70px;
}

.registration-form .input-group{
	-webkit-box-shadow: 0px 0px 17px 0px rgba(255, 255, 255, 0.75);
	-moz-box-shadow:    0px 0px 17px 0px rgba(255, 255, 255, 0.75);
	box-shadow:         0px 0px 17px 0px rgba(255, 255, 255, 0.75);
}
   
.marketing {
	text-align: center;
}

.marketing .iconmelon-container {
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	padding: 15px;
	border: 1px solid black;
}

.marketing .iconmelon{
	position: relative;
	width: 140px;
	height: 140px;
	margin-left: auto;
	margin-right: auto;

}



.glyphicon {
	top: 0px;
	margin-right: 5px;
}

.list-inline {
	text-align: center;
}

.navbar-brand {
	font-size: 45px;
}

.jumbotron {
	margin-top: -50px;
	background-image:url('/assets/congruent_outline.png');
	color: white;
}

.navbar-nav{
	text-align: center;
}

.login-or {
	position: relative;
	font-size: 18px;
	color: #aaa;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.span-or {
	display: block;
	position: absolute;
	left: 50%;
	top: -2px;
	margin-left: -25px;
	background-color: #fff;
	width: 50px;
	text-align: center;
}
.hr-or {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

@media (max-width: 767px) {
  .header {
    float: left;
    margin: 0;
  }
  .header > li {
    float: left;
  }
  .header > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .header.navbar-right:last-child {
    margin-right: -15px;
  }
}

.thumbnail {
	text-align: center;
}

.checkbox {
	text-align: left;
}

.navbar {
	background-color: #ecf0f1;
}

.navbar .iconmelon {
	top: 0;
}
