// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.input-group {
	margin-bottom: 7px;
}

.registration_form {
	margin-top: 70px;
}

.navbar-brand {
	font-size: 45px;
}

.marketing {
	text-align: center;
}

.marketing span{
	font-size: 50px;
}

.glyphicon {
	top: 0px;
}

.list-inline {
	text-align: center;
}

.navbar-static-top {
	margin-bottom: 75px;
}

.jumbotron {
	margin-top: -75px;
}

span.visible-xs {
	text-align: center;
}