.nowt-header {
    font-size: 2.125em;
    line-height: 1.3;
    margin: 0 0 1.0em 0;
    font-weight: 400;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #fff;
}

.modal-content {
    background-color:#47a3da;
    padding-right: 0;
        -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.modal-label {
    color: white;
    font-family: 'Lato', Calibri, Arial, sans-serif;
}

.cbp-vimenu {
	position: absolute;
    top: 50%;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #47a3da;
    margin-top: -170px;
    margin-left: -6em;
}
 
.cbp-vimenu li a {
    display: block;
    font-size: 1.5em;
    height: 100%;
    width: 4em;
    line-height: 4em;
    text-align: center;
    background-color: #47a3da;
    position: relative;
    color: #fff;
    border-top: 1px solid rgba(0,0,0,0.05);
    -webkit-transition: background 0.1s ease-in-out;
    -moz-transition: background 0.1s ease-in-out;
    z-index: 1050;
    transition: background 0.1s ease-in-out;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
 
.modal-category-active {
    background: #fff !important;
    color: #47a3da !important;
}

.cbp-vimenu li a:hover{
    background: #fff;
    color: #47a3da;
}
 
/* class for current item */
.cbp-vimenu li.cbp-vicurrent a {
    background: #fff;
    color: #47a3da;
}
 
.cbp-vimenu li a:before {
    font-family: 'ecoico';
    speak: none;
    font-style: normal;
    font-weight: normal;
    text-indent: 0em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1.4em;
    -webkit-font-smoothing: antialiased;
}
 
 
/* FORM CSS */
.cbp-mc-form {
    position: relative;
}

.cbp-mc-form label {
    display: block;
    padding: 15px 5px 5px 2px;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

.cbp-mc-form #modal-title,
.cbp-mc-form #modal-description,
.cbp-mc-form #modal-picture {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    line-height: 1.5;
    font-size: 1.4em;
    padding: 5px 10px;
    color: #fff;
    display: block;
    width: 100%;
    background: transparent;
}


.cbp-mc-form input,
.cbp-mc-form textarea {
    border: 3px solid #fff;
}

.cbp-mc-form textarea {
    min-height: 200px;
}

.cbp-mc-form input:focus,
.cbp-mc-form textarea:focus,
.cbp-mc-form label:active + input,
.cbp-mc-form label:active + textarea {
    outline: none;
    border: 3px solid #10689a;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #10689a;
    font-style: italic;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #10689a;
    font-style: italic;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #10689a;
    font-style: italic;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #10689a;
    font-style: italic;
}

.cbp-mc-submit-wrap {
    text-align: center;
    padding-top: 40px;
    clear: both;
}

.cbp-mc-form input.cbp-mc-submit {
    background: #10689a;
    border: none;
    color: #fff;
    width: auto;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.1em;
    border-radius: 2px;
    letter-spacing: 1px;
}

.cbp-mc-form input.cbp-mc-submit:hover {
    background: #1478b1;
}
