
/*  bhoechie tab */

.bhoechie-tab {
  height: 100% !important;
  min-height: 368px;
}

div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
  margin-top: 20px;
  margin-left: 50px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
  top: 50%;
  margin-right: 20px;
}

div.bhoechie-tab-menu div.list-group .iconmelon{
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  height: 40px;
}

div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #5A55A3;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .iconmelon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #34495e;
  color: #ffffff;
  fill: #fff;
  text-decoration: none;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #34495e;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.modal-active){
  display: none;
}

.cbp-mc-form label {
    display: block;
    padding: 15px 5px 5px 2px;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}
 
.cbp-mc-form input,
.cbp-mc-form textarea,
.cbp-mc-form select {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    line-height: 1.5;
    font-size: 1.4em;
    padding: 5px 10px;
    color: black;
    display: block;
    width: 100%;
    background: transparent;
}
 
.cbp-mc-form input,
.cbp-mc-form textarea {
    border: 3px solid #2c3e50;
}

.cbp-mc-form input[type="file"] {
  border: none;
} 

.cbp-mc-form textarea {
    min-height: 150px;
}
 
.cbp-mc-form input:focus,
.cbp-mc-form textarea:focus,
.cbp-mc-form label:active + input,
.cbp-mc-form label:active + textarea {
    outline: none;
    border: 3px solid #34495e;
}
 
.cbp-mc-form select:focus {
    outline: none;
}
 
::-webkit-input-placeholder { /* WebKit browsers */
    color: #2c3e50;
    font-style: italic;
}
 
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #2c3e50;
    font-style: italic;
}
 
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #2c3e50;
    font-style: italic;
}
 
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #2c3e50;
    font-style: italic;
}
 
.cbp-mc-submit-wrap {
    position: absolute;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-right: 14px;
    clear: both;
    bottom: 0;
    right: 0;

}
 
.cbp-mc-form input.cbp-mc-submit,
.cbp-mc-form input.cbp-mc-next,
.cbp-mc-form input.cbp-mc-previous {
    background: #2c3e50;
    border: none;
    color: #fff;
    width: auto;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.1em;
    border-radius: 2px;
    letter-spacing: 1px;
}
 
.cbp-mc-form input.cbp-mc-submit:hover,
.cbp-mc-form input.cbp-mc-next:hover,
.cbp-mc-form input.cbp-mc-previous:hover {
    background: #34495e;
}

.close .iconmelon {
  width: 20px;
  height: 20px;
}
.close {
  margin-top: 10px;
}