// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post:hover	 {
	text-decoration: none;
}

small {
display: block;
line-height: 1.428571429;
color: #999;
}


.img-column {
	padding-right:0px;
}

.field {
	margin-bottom: 7px;
}

textarea {
	resize: none;
}

#divider-break {
	margin-top:10px;
}

#label-align-right {
	 float:right;
}


.modal-body {
	z-index: 1035;
}
 
.profile-nowt-link:hover {
    text-decoration: none;
}


.post-title { 
    padding-bottom: 5px;
    word-wrap: break-word;
    color:#662D91 !important;
    font-family: 'Lato', Calibri, Arial, sans-serif !important;
    font-size: 1.5em;

}

.post-title:hover, .post-comment:hover {
    text-decoration: none;
}

.post-description {
    word-wrap: break-word;
    margin: 0 0 30px 0;
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.4 !important;
    font-family: 'Lato', Calibri, Arial, sans-serif !important;
}

.post-header-line { 
    border-top:1px solid #DDD;
    border-bottom:1px solid #DDD;
    padding:5px 0px 5px 15px;
    font-size: 12px; 
    color: grey;
}

.post-content { 
    padding-bottom: 15px;
    padding-top: 15px;
}

.post-content img {
    border-radius: 5px;
    border: 3px solid #fff;
}

.post-divider {
    margin-right: 3px;
    margin-left: 3px;
}

.tag-line {
    color: grey;
    font-size: x-small;
}

