// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post:hover	 {
	text-decoration: none;
}

small {
display: block;
line-height: 1.428571429;
color: #999;
}

.img-column {
	padding-right:0px;
}

.field {
	margin-bottom: 7px;
}

textarea {
	resize: none;
}

#divider-break {
	margin-top:10px;
}

#label-align-right {
	 float:right;
}


.modal-body {
	z-index: 1035;
}
 
.profile-nowt-link:hover {
    text-decoration: none;
}


.post-title { 
    padding-bottom: 5px;
    word-wrap: break-word;
    color:#489799 !important;
    font-family: 'Lato', Calibri, Arial, sans-serif !important;
    font-size: 1.5em;

}

.post-title:hover, .post-comment:hover {
    text-decoration: none;
}

.post-description {
    word-wrap: break-word;
    margin: 0 0 30px 0;
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.4 !important;
    font-family: 'Lato', Calibri, Arial, sans-serif !important;
}

.post-header-line { 
    border-top:1px solid #DDD;
    border-bottom:1px solid #DDD;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px; 
    color: grey;
}

.post-content { 
    padding-bottom: 15px;
    padding-top: 15px;
}

.post-content img {
    border-radius: 5px;
    border: 3px solid #fff;
}

.post-divider {
    margin-right: 3px;
    margin-left: 3px;
}

.tag-line {
    color: grey;
    font-size: x-small;
}

.nowts-container {
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 9px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 9px 0px rgba(50, 50, 50, 0.75);
}

.nowt-container {
    background-color: #fff;
    padding-bottom: 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

}

.nowt-image-title {
    margin-top: 13px;
}

.nowt-title-info {
    margin-top: -10px;
    margin-left: 30px;
}

.nowt-description {
    padding-left: 15px;
}

.thread {
    padding-bottom: 15px;
}