// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post:hover	 {
	text-decoration: none;
}


small {
display: block;
line-height: 1.428571429;
color: #999;
}

p{
font-size: 12px;
margin: 2px;
}

h4{
	margin: 2px;
}

.img-column {
	padding-right:0px;
}

.field {
	margin-bottom: 7px;
}

textarea {
	resize: none;
}

#board-breadcrumb {
	margin-top: -1.8%;
}

#divider-break {
	margin-top:10px;
}

#label-align-right {
	 float:right;
}