// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.form-signin {
	max-width: 330px;
	margin: 0 auto;
}

.form-panel, .form-errors {
	max-width: 500px;
	margin: 0 auto;
	margin-bottom: 5px;
}
	
.form-panel-body{
	padding-top: 50px;
}

li .glyphicon {
	font-size: 1.4em;
} 

.profile
{
    /*box-shadow:0px 0px 4px -2px #000;*/
    padding: 20px 5px 20px 20px;
    padding-bottom: 20px;

}

.profile-img{
    height: 75px;
    width: 75px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.label-st a{
    color: white;
}

.label-st:hover {
    background-color: #00ABA9;
}

.label-st a:hover {
    text-decoration: none;
}

.thumbnail:hover {
    text-decoration: none;
}

#hide-interests {
    margin-left: -3px;
}

.load-more {
    cursor: pointer;
}

.load-more:hover {
    text-decoration: none;
}

.trending, .your-board, .interests {
    padding-bottom: 0px;
}

.change-password {
    padding-left: 0;
    padding-right: 0;
}

/* carousel */
.media-carousel 
{
  margin-bottom: 0;
  padding: 0 40px 0 40px;
}
/* Previous button  */
.media-carousel .carousel-control.left 
{
  left: -12px !important;
  background-image: none;
  color: #222222;
  height: 40px;
  width : 40px;
  margin-top: 34px;
}
/* Next button  */
.media-carousel .carousel-control.right 
{
  right: -12px !important;
  background-image: none;
  color: #222222;
  height: 40px;
  width : 40px;
  margin-top: 34px;
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active 
{
  background: #333333;
}
.media-carousel img
{
  width: 100px;
  height: 100px
}
/* End carousel */

.profile-panels {
    padding-right: 0;
    padding-left: 0;
}

.panel-body {
  padding-top: 0;
  padding-bottom: 0;
}

.panel-body-edit {
  padding: 0px;
}

.panel-body-edit table tr td {
  padding-left: 15px;
}

.panel-body-edit .table {
  margin-bottom: 0px;
}

.panel-body-edit .glyphicon, .panel-title .glyphicon {
  margin-right: 10px;
}

.panel-body-edit a:hover, .panel-title a:hover {
  text-decoration: none;
}

.panel-right {
  height: 260px;
}

.smart-tags:hover {
  text-decoration: none;
}

.smart-tags span:hover {
  background-color: #00ABA9;
}

#add-smart-tags {
  display: none;
  
}

#add-smart-tag-btn-help {
  margin-left: 5px;
  cursor: pointer;
  color: grey;
}

#add-smart-tag-btn:hover {
  text-decoration: none;
  cursor: pointer;
}

.profile-heading {
  background-color: white !important;
  color: #66757f !important;
  padding-left: 15px;
}

.profile-heading > h3 {
  margin-top: 3px;
  margin-bottom: 3px;

}

.destacados{
  padding: 20px 0;
  text-align: center;
 
}
.destacados > div > div{
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: 0.2s;
}
.destacados > div:hover > div{
  margin-top: -10px;
  border: 1px solid rgb(200, 200, 200);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
  background: rgba(200, 200, 200, 0.1);
  transition: 0.5s;
}

.destacados h2 {
  word-wrap: break-word;
   color: black !important;
}