// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.form-signin {
	max-width: 330px;
	margin: 0 auto;
}

.form-panel, .form-errors {
	max-width: 500px;
	margin: 0 auto;
	margin-bottom: 5px;
}
	
.panel-body {
	padding-top: 50px;
}

li .glyphicon {
	font-size: 1.4em;
} 