<div class="container">
	<% if devise_error_messages!.empty? %>
		<div class="panel panel-primary form-panel">
	<% else %>
		<%= devise_error_messages! %>
		<div class="panel panel-danger form-panel">
	<% end %>
			<div class="panel-heading">
				<div class="panel-title"><%= form_type %></div>
			</div>
			
			<div class='panel-body'>
				<%= render(form_partial) %>
			</div>
			<div class='panel-footer'>
				<% if form_type == 'Sign In' %>
					<%= render :partial => 'devise/sessions/external_sign_in' %>
				<% end %>
			</div>
		</div>
</div>





